.banner {
    position: relative;
}

.banner-item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.banner-input {
    width: 32vw!important;
    border: none!important;
    outline: none!important;
}

.light-bg {
    background-color: rgba(9, 9, 9, 0.6)!important;
}